# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\safeTools\wechat_push\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
